@charset "UTF-8";

#indimg{
    border: 2px solid black;
    background-color: bisque;
    margin: auto 35%;
    padding: 3px;
}

.flotante {
    position: relative;
    text-decoration: none;
    color: black;
}
   
img {
    position: absolute;
    top: 100%;
    left: 100%;
    display: none;
    width: 12em;
    height: 12em;
    z-index: 5;
    border: black 2px solid;
}
   
.flotante:hover img {
    display: block;
}

.tabla {
    width: 40em;
    border: 2px solid #000;
    background-color: saddlebrown;
}
.tabla th, .tabla td {
    border: 2px solid #000;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    
}
.celdamenu{
    background-color: rgb(63, 30, 7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;
    -webkit-text-stroke: 1px black;
}
.fondoceldas{
    background-color: whitesmoke;
}

.cabecera{  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: darksalmon;
    text-shadow: 5px 5px 2px burlywood;
    -webkit-text-stroke: 3px black;
    
    
}
hr {
    border-top: 2px solid saddlebrown;
	border-bottom: 2px solid sandybrown;
}
body{

    background-image: url("C:/Users/Jose Vallejo/Documents/DAM/LMSI/Ejercicio Feedback UD2/img/fondo_madera.jpg");
    background-size: auto auto;
    
    
}
  


.link:hover {
    color: #FF0000; 
    font-size: 40px;
    background-color: palegoldenrod;
    border: black solid 2px;
    padding: 3px;
    font-weight: bold;
    
    }
    
    
.link:visited {
    color: #828382;
    margin: auto 20px; 
    font-size: 30px;
    
    }
    
    
.link:link {
    color: brown ;
    margin: auto 20px;
    font-size: 30px;
}
#botonarriba{

    border: black solid 2px;
    text-align: center;
    margin: auto 40%;
    background-color: burlywood;      
}
#botonarriba:hover {
    color: #FF0000; 
    font-size: 18px;
    background-color: palegoldenrod;
    border: black solid 2px;
    padding: 3px;
    font-weight: bold;    
}
#botonarriba:link {
    color: black ;
    font-size: 14px;
    padding: 2px;
}
#estiloboton{
    color: black ;
    font-size: 14px;
}
/*section{
    margin: auto 10em;
    background-color: blanchedalmond;
    border: black 3px solid;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}*/
#footer{
    margin: auto 35em ;
    border: black solid 3px;
    background-color: burlywood;
    text-align: center;
}
#img{
    border: black solid 3px;
}
nav{
    margin: auto 20%;
    border: black solid 3px;
    background-color: burlywood;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
    
}


