@charset "UTF-8";

hr {
    border-top: 2px solid saddlebrown;
	border-bottom: 2px solid sandybrown;
}

textarea{
    width: 35%;
    height: 35%;
}

form{
    text-align: center;
    font-size: 23px;
}
.difinput{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.cabecera{  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: darksalmon;
    text-shadow: 5px 5px 2px burlywood;
    -webkit-text-stroke: 3px black;
    
    
}
body{

    background-image: url("C:/Users/Jose Vallejo/Documents/DAM/LMSI/Ejercicio Feedback UD2/img/fondo_madera.jpg");
    background-size: auto auto;
    
    
}



.link:hover {
    color: #FF0000; 
    font-size: 40px;
    background-color: palegoldenrod;
    border: black solid 2px;
    padding: 3px;
    font-weight: bold;
    
}
    
    
.link:visited {
    color: #828382;
    margin: auto 20px; 
    font-size: 30px;
    
    }
    
    
.link:link {
    color: brown ;
    margin: auto 20px;
    font-size: 30px;
}
section{
    margin: auto 10em;
    background-color: blanchedalmond;
    border: black 3px solid;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
#footer{
    margin: auto 35em ;
    border: black solid 3px;
    background-color: burlywood;
    text-align: center;
}
#botonarriba{

    border: black solid 2px;
    text-align: center;
    margin: auto 40%;
    background-color: burlywood;      
}
#botonarriba:hover {
    color: #FF0000; 
    font-size: 18px;
    background-color: palegoldenrod;
    border: black solid 2px;
    padding: 3px;
    font-weight: bold;    
}
#botonarriba:link {
    color: black ;
    font-size: 14px;
    padding: 2px;
}
#estiloboton{
    color: black ;
    font-size: 14px;
}
#img{
    border: black solid 3px;
}
nav{
    margin: auto 20%;
    border: black solid 3px;
    background-color: burlywood;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
    
}
